* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    height: 80px;
}

body {
    font-family: "Oswald", sans-serif;
}

.mainWrapperdashbaord{
    background-color: #E9EAED;
}

.userImg {
    height: 50px;
    border-radius: 25px;
}

.box {
    align-items: center;
}

.red {
    color: red;
}

.green {
    color: #5bc236;
}

.noButton {
    align-items: center;
    border: none;
    background-color: transparent;
    outline: none !important;
}

.fa-minus-circle,
.fa-plus-circle {
    font-size: 22px;
}

.currentbalance {
    background-color: #E9EAED;
    height: 150px;
    color: black;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
}

.check {
    background-color: rosybrown;
}

.chartHeader {
    color: white;
    height: 100px;
}

.chart {
    padding: 20px;
}

.noButton {
    align-items: center;
    border: none;
    background-color: transparent;
    outline: none !important;
}

.fa-sign-out-alt {
    font-size: 23px;
    margin-top: 12px;
}

.userName {
    font-size: 20px;
    font-weight: bold;
}

.navbar_color {
    background-color: #A8AFB8;
}

.navbar-brand {
    font-size: 25px;
}

.income_wrapper,
.expense_wrapper {
    border: 3px solid #A8AFB8;
    border-radius: 10px;
    -webkit-box-shadow: 6px 10px 5px 0px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 6px 10px 5px 0px rgba(0, 0, 0, 0.36);
    box-shadow: 6px 10px 5px 0px rgba(0, 0, 0, 0.36);
    margin: 10px;
}

.user_Name {
    font-size: 20px;
    font-weight: bold;
}

.amountIcon {
    font-weight: bold;
    font-size: 45px;
}

.incomeChartText {
    font-size: 35px;
    letter-spacing: 1px;
}

.recentPostHeading {
    font-weight: bold;
    padding: 5px;
    font-size: 25px;
}

.d_icon {
    height: 50px;
}

#myChart {
    height: 500px !important;
}

.block {
    display: block;
    color: white;
    width: 100%;
    border: none;
    text-decoration: none;
    list-style-type: none;
    padding: 14px 28px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
    cursor: pointer;
    text-align: center;
    /* background-color: #69b16f; */
}

.anchor {
    text-decoration: none !important;
}

.myTable {
    display: table !important;
}

.loaderImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.yearSelector{
    align-items: center;
}

/* Media Querries */

@media(max-width:875px) {
    .currentbalance {
        background-color: #E3E4E7;
        height: 150px;
        color: black;
        font-size: 30px;
        font-weight: bold;
    }
    .myTable {
        display: block !important;
    }
}

@media(max-width:767px) {
    .currentbalance {
        background-color: #E3E4E7;
        height: 250px;
        color: black;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 70px;
    }
    .myTable {
        display: table !important;
    }
    .recentPost {
        margin-top: 70px !important;
    }
}

@media(max-width:643px) {
    .incomeChartText {
        font-size: 30px;
    }
}

@media(max-width:575px) {
    .chartHeader{
        height: 130px;
    }
    .chart{
        text-align: center;
    }
}

@media(max-width:500px) {
    .chartHeader{
        height: 145px;
    }
    .dateChart {
        height: 30px;
    }
    .myTable {
        display: block !important;
    }
    .chart {
        padding: 25px;
    }    
}

@media(max-width:400px) {
    /* .incomeChartText {
        font-size: 20px;
    }
    .dateChart {
        height: 30px;
    }
    #yearSelectFilter {
        height: 35px;
    } */
    .recentPost {
        padding: 0 25px !important;
    }
}