.header {
    height: 80px;
    background-color: #69b16f;
}

body {
    font-family: "Oswald", sans-serif;
    background-color: #E9EAED;
}

.table-dark td {
    vertical-align: middle;
}

.userImg {
    height: 50px;
    border-radius: 25px;
}

.box {
    align-items: center;
}


/* Transaction Tzble */

.tableHeader {
    background-color: #69b16f;
    color: white;
}

.red {
    color: red;
}

.green {
    color: #5bc236;
}

.fa-minus-circle,
.fa-plus-circle {
    font-size: 22px;
    color: white;
}

.noButton {
    align-items: center;
    border: none;
    background-color: transparent;
    outline: none !important;
}

.fa-sign-out-alt {
    font-size: 23px;
    margin-top: 12px;
}

.userName {
    font-size: 20px;
    font-weight: bold;
}

.navbar_color {
    background-color: #A8AFB8;
}

.navbar-brand {
    font-size: 25px;
}

.filterDate {
    width: auto;
    padding: 5px;
    border: 1px solid #CED4DA;
    border-radius: 3px;
}

.label1 {
    width: 100px;
}

.hr {
    border-bottom: 2px;
    border: 3px solid #A8AFB8;
    width: 250px;
}

.transImg {
    height: 50px;
}

.fa-filter {
    color: #18B978;
}

.badge-light {
    cursor: pointer;
}

.loaderImg {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}