.header {
    height: 80px;
    background-color: #69b16f;
}

body {
    font-family: "Oswald", sans-serif;
    background-color: #E9EAED;
}

.userImg {
    height: 50px;
    border-radius: 25px;
}

.box {
    align-items: center;
}


/* Transaction Tzble */

.tableHeader {
    background-color: #69b16f;
    color: white;
}

.red {
    color: red;
}

.green {
    color: #5bc236;
}

.fa-minus-circle,
.fa-plus-circle {
    font-size: 22px;
    color: white;
}

.noButton {
    align-items: center;
    border: none;
    background-color: transparent;
    outline: none !important;
}

.fa-sign-out-alt {
    font-size: 23px;
    margin-top: 12px;
}

.userName {
    font-size: 20px;
    font-weight: bold;
}

.navbar_color {
    background-color: #A8AFB8;
}

.navbar-brand {
    font-size: 25px;
}